<form class="sign-up-form" action="<%= users_url %>" method="post">
  <%= auth_token %>
  <label> Username
  <input id="username" type="text" name="user[username]" value="<%= @user.username %>">
</label> <br>
  <label> Password
  <input id="password" type="password" name="user[password]" value="<%= @user.password %>">
</label> <br>


  <input type="submit" id="submit" value="Sign Up"> <br>
  Already have an account? <%= link_to "Sign In", new_session_url %>
</form>
